* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  #openModalBtn {
    padding: 9px;
    margin: 20px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  
#modal {
    border: 1px solid black;
    padding: 20px;
    width: 20%;
    margin: 15%;
    margin-left: 40%;
    border-radius: 12px;
    background-color: rgb(180, 199, 216);
    text-align: center;
    display: none;
}
  
#content {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

#cancelBtn {
    padding: 8px;
    border-radius: 9px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.toggle_class {
    display: block !important;
}