* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#carousel {
    width: 55vw;
    border: 1px solid rgb(24, 7, 71);
    padding: 15px;
    margin: 50px;
    background-color: rgb(209, 209, 245);
    border-radius: 27px;
}

.carousel_item {
    width: 100%;
    height: 100%;
    background-color: rgb(205, 243, 243);
    padding: 18px;
    border-radius: 27px;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid blue;
}

#action_buttons {
    margin: 15px;
    margin-left: 50px;
}

#action_buttons button {
    padding: 10px;
    width: 116px;
    margin-right: 12px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
}

#action_buttons button:hover {
    background-color: brown;
}

.profile {
    margin: 10px;
    text-align: center;
}

.intro {
    margin-bottom: 15px;
    text-align: center;
}

.name {
    margin: 5px;
    font-size: 25px;
    color: brown;
}

.designation {
    color: rgb(53, 55, 77);
    font-size: 19px;
}

.feed {
    text-align: center;
}